.full-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    &:not(:disabled):hover {
        background-color: var(--background-color);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

    &:disabled {
        transition: none;
        background-color: var(--border-color);
        cursor: not-allowed;
    }
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 100%;
    gap: 5px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: var(--input-color);
    border: 1px solid var(--border-color);

    svg {
        color: var(--secondary-text-color);
    }

    input {
        padding: 10px 0;
        border-radius: 15px;
        background-color: transparent;
        color: var(--text-color);
        outline: none;
        border: none;
    }
}

.baseline {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    overflow: auto;
}

@media screen and (max-width: 475px) {
        .baseline {
            margin: 0;
        }
    }