:root {
    --background-color: #06070b;
    --card-color: #101116;
    --border-color: #2c2e33;
    --input-color: #191a1f;
    --primary-color: #57cb60;
    --text-color: #fff;
    --secondary-text-color: #8f8f8f;

    --player-color: #2b7fff;
    --host-color: #fe9a00;

    --blue-player-color: #2b7fff;
    --red-player-color: #fb2c36;
    --green-player-color: #57cb60;
    --orange-player-color: #fe9a00;
    --gray-player-color: #999;

    --replay-scrollbar-track-fallback: #131722;
    --replay-scrollbar-thumb-fallback: #a7a7a7;
    --replay-scrollbar-thumb-start-fallback: #d5d5d5;
    --replay-scrollbar-thumb-end-fallback: #8a8a8a;
    --replay-scrollbar-thumb-hover-start-fallback: #e1e1e1;
    --replay-scrollbar-thumb-hover-end-fallback: #989898;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
    color: #333;
}