.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
    background-color: color-mix(var(--card-color) 50%, transparent);
    border: 1px solid color-mix(var(--border-color) 80%, transparent);

    .board-row {
        display: flex;
        gap: 10px;
        width: 100%;
        height: 100%;

        .board-cell {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .board-card-wrapper {
                width: 100%;
                height: 100%;
            }

            .card-place-pop {
                animation: card-place-pop 300ms ease-out 1;
                transform-origin: center center;
            }
        }
    }
}

@keyframes card-place-pop {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}