$player-colors: (
    "blue": var(--blue-player-color),
    "red": var(--red-player-color),
    "green": var(--green-player-color),
    "orange": var(--orange-player-color),
    "gray": var(--gray-player-color)
);

.player-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: color-mix(var(--card-color) 50%, transparent);
    border: 1px solid color-mix(var(--border-color) 80%, transparent);
    padding: 10px 0;

    &.horizontal {
        flex-direction: row;
        width: 350px;
        height: 100px;
    }

    &.vertical {
        flex-direction: column;
        width: 100px;
        height: 300px;
    }

    &.active {
        background-color: color-mix(var(--player-color) 30%, transparent);
        border: 3px solid color-mix(var(--player-color) 80%, transparent);
    }

    @each $name, $value in $player-colors {
        &.#{$name} {
            --player-color: #{$value};
        }
    }

    .color-indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: currentColor;

        @each $name, $value in $player-colors {
            &.#{$name} {
                color: #{$value};
            }
        }
    }

    .color-indicators {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;

        .color-indicator {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: currentColor;

            @each $name, $value in $player-colors {
                &.#{$name} {
                    color: #{$value};
                }
            }
        }
    }

    .player-name {
        font-size: .8em;
        font-weight: bold;
        color: var(--text-color);
    }

    .score {
        display: flex;
        align-items: center;
        justify-content: center;

        &.vertical {
            flex-direction: column;
        }

        &.horizontal {
            flex-direction: row;
        }

        .point1,
        .point2 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 40px;
            border-radius: 5px;
            border: 2px dashed var(--border-color);
            margin: 2px;
            background-color: color-mix(var(--card-color) 50%, transparent);

            &.active {
                background-color: currentColor;
                border: 2px solid currentColor;

                @each $name, $value in $player-colors {
                    &.#{$name} {
                        color: #{$value};
                    }
                }

                svg {
                    color: white;
                    stroke: white;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .current-card {
        width: 70px;
        height: 70px;
        border-radius: 15px;
        background-color: currentColor;
        border: 1px solid currentColor;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        font-weight: bold;

        @each $name, $value in $player-colors {
            &.#{$name} {
                color: #{$value};
            }
        }

        .value {
            color: var(--text-color);
        }
    }
}